.flex {
  display: flex;
  align-items: center;
}

.filter-wrapper {
  max-width: 890px;
  .filter-title {
    padding: 8px 10px;
    .flex;
    height: 30px;
    background-image: linear-gradient(0deg,
    #e1e1e1 0%,
    #f0f0f0 100%);
    font-weight: bold;
    font-size: 14px;
    color: #000;
    border: solid 1px #d9d9d9;
  }

  .filter-list {
    .flex;
    flex-wrap: wrap;
    border: solid 1px #b9c4df;
  }

  .filter-item {
    .flex;
    align-items: stretch;
    width: 33.33%;
    border: solid 2px #b9c4df;
    border-bottom: none;
    border-right: none;
    color: #000;
    &.border-right {
      border-right: solid 2px #b9c4df!important;
    }
    &.border-bottom {
      border-bottom: solid 2px #b9c4df!important;
    }
    .label {
      .flex;
      justify-content: flex-end;
      padding: 0 8px;
      width: 92px;
      height: 28px;
      font-size: 12px;
      background-color: #ececec;
      border-right: solid 2px #b9c4df;
    }

    .group {
      .flex;
    }

    .item {
      flex: 1;
      padding: 3px 2px;
      background-color: #ffffff;
      font-size: 12px;
      //border: solid 1px #b9c4df;

      .inp {
        flex: 1;
        width: 100%;
        font-size: 12px;
        height: 19px;
          border: solid 1px rgb(118, 118, 118);
        border-radius: 2px;
        &:focus {
          border: solid 2px #000
        }
        &.select:focus {
          border: solid 1px rgb(118, 118, 118);
        }
      }

      .btn {
        padding: 0 2px;
        .flex;
        flex-shrink: 0;
        margin-right: 10px;
        justify-content: center;
        height: 20px;
        background-color: #ededee;
        border-radius: 2px;
        font-size: 12px;
        border: solid 1px #949494;
      }
    }
  }

  .buttons {
    .flex;
    //justify-content: center;
    padding: 9px 200px;
    background-color: #ffffff;
    border: solid 3px #b9c4df;
    border-top-width: 2px;

    .btn {
      margin-right: 19px;
      width: 95px;
      .flex;
      justify-content: center;
      height: 30px;
      background-image: linear-gradient(0deg,
      #c61009 0%,
      #e7420b 100%),
      linear-gradient(
              #000000,
              #000000);
      background-blend-mode: normal,
      normal;
      color: #fff;
      font-size: 14px;
      border-radius: 4px;
      .icon {
        margin-right: 8px;
      }
    }
  }
}
.date-wrapper {
  .date-btn {
    margin: 0 4px;
    cursor: pointer;
    border: none!important;
    background: transparent;
  }
}
.content .right-content {
  background: #fff;
}
.details {
  margin-top: 10px;
  padding: 12px;
  border: solid 1px #b5b5b5;
}
.content-item {
  margin-bottom: 20px;
  position: relative;
  padding: 20px 10px;
  border: solid 2px #7e7e7e;
  .top-title {
    position: absolute;
    left: 20px;
    top: 0;
    transform: translateY(-50%);
    padding: 0 10px;
    background: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .list {
    .flex;
    align-items: stretch;
    flex-wrap: wrap;
    font-size: 14px;
    color: #000;
    border-left: 2px solid #c7d0e5;
    border-right: 2px solid #c7d0e5;
    .item-wrapper {
      .flex;
      width: 50%;
      align-items: stretch;
      &.fill {
        width: 100%;
        .label {
          width: 20%;
        }
        .item {
          width: 80%
        }
      }
      .label {
        .flex;
        justify-content: flex-end;
        padding: 0 8px;
        width: 40%;
        height: 28px;
        font-size: 12px;
        background-color: #ececec;
        border: solid 1px #c7d0e5;
        border-bottom: 0;
        border-right: 0;
        &.border-bottom {
          border-bottom: 1px solid #c7d0e5;
        }
        &.border-left {
          border-left: 1px solid #c7d0e5;
        }
      }
      .item {
        flex: 1;
        .flex;
        padding: 3px 6px;
        background-color: #ffffff;
        font-size: 12px;
        width: 60%;
        border: solid 1px #c7d0e5;
        border-bottom: 0;
        &.border-bottom {
          border-bottom: 1px solid #c7d0e5;
        }
        label {
          margin-right: 8px;
          margin-bottom: 0;
          input {
            margin-right: 4px;
          }
        }
        .inp, .select {
          width: 115px;
          font-size: 12px;
          padding: 1px 2px;
          height: 21px;
          border: solid 1px rgb(118, 118, 118);
          border-radius: 2px;
          &:focus {
            border: solid 2px #000
          }
          &.select:focus {
            border: solid 1px rgb(118, 118, 118);
          }
        }
        .desc {
          margin-left: 8px;
        }
      }
    }
  }
}
