.flex {
  display: flex;
  align-items: center;
}

.filter-wrapper {
  .filter-title {
    padding: 8px 10px;
    .flex;
    height: 38px;
    background-image: linear-gradient(0deg,
    #e1e1e1 0%,
    #f0f0f0 100%);
    font-size: 18px;
    color: #000;
    border: solid 1px #d9d9d9;
  }

  .filter-list {
    .flex;
    flex-wrap: wrap;
    border: solid 2px #b9c4df;
  }

  .filter-item {
    .flex;
    align-items: stretch;
    width: 33.33%;

    .label {
      .flex;
      justify-content: flex-end;
      padding: 0 8px;
      width: 124px;
      height: 48px;
      background-color: #ececec;
      border: solid 1px #b9c4df;
    }

    .group {
      .flex;
    }

    .item {
      flex: 1;
      padding: 7px 6px;
      background-color: #ffffff;
      border: solid 1px #b9c4df;

      .inp {
        padding: 0 10px;
        flex: 1;
        width: 100%;
        font-size: 14px;
        height: 30px;
        border: solid 1px #949494;
        border-radius: 1px;
      }

      .btn {
        .flex;
        flex-shrink: 0;
        justify-content: center;
        height: 30px;
        background-color: #ededee;
        border-radius: 2px;
        font-size: 14px;
        border: solid 1px #949494;
      }
    }
  }

  .buttons {
    .flex;
    justify-content: center;
    padding: 9px 200px;
    background-color: #ffffff;
    border: solid 2px #b9c4df;
    border-top: 0;

    .btn {
      margin-right: 19px;
      .flex;
      justify-content: center;
      padding: 0 10px;
      height: 30px;
      background-image: linear-gradient(0deg,
      #c61009 0%,
      #e7420b 100%),
      linear-gradient(
              #000000,
              #000000);
      background-blend-mode: normal,
      normal;
      color: #fff;
      font-size: 14px;
      border-radius: 4px;
      .icon {
        margin-right: 8px;
      }
    }
  }
}
.content .right-content {
  background: #fff;
}
.details {
  margin-top: 10px;
  padding: 12px;
  border: solid 1px #b5b5b5;
}
.content-item {
  margin-bottom: 20px;
  position: relative;
  padding: 20px 10px;
  border: solid 2px #7e7e7e;
  .top-title {
    position: absolute;
    left: 20px;
    top: 0;
    transform: translateY(-50%);
    padding: 0 10px;
    background: #fff;
    font-size: 18px;
  }
  .list {
    .flex;
    align-items: stretch;
    flex-wrap: wrap;
    font-size: 18px;
    color: #000;
    .item-wrapper {
      .flex;
      width: 50%;
      align-items: stretch;
      &.fill {
        width: 100%;
        .label {
          width: 20%;
        }
        .item {
          width: 80%
        }
      }
      .label {
        padding: 8px 6px;
        .flex;
        justify-content: flex-end;
        width: 40%;
        background-color: #ececec;
        border: solid 1px #c7d0e5;
      }
      .item {
        .flex;
        padding: 8px 6px;
        width: 60%;
        border: solid 1px #c7d0e5;
        label {
          margin-right: 8px;
          margin-bottom: 0;
          input {
            margin-right: 4px;
            transform: scale(1.2);
          }
        }
        .inp, .select {
          display: inline-block;
          width: auto;
          padding: 0 8px;
          height: 30px;
          background-color: #ffffff;
          border-radius: 2px;
          border: solid 1px #949494;
        }
        .desc {
          margin-left: 8px;
        }
      }
    }
  }
}
