.flex {
  display: flex;
  align-items: center;
}
.filter-wrapper {
  max-width: 890px;
}
.filter-wrapper .filter-title {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  height: 30px;
  background-image: linear-gradient(0deg, #e1e1e1 0%, #f0f0f0 100%);
  font-weight: bold;
  font-size: 14px;
  color: #000;
  border: solid 1px #d9d9d9;
}
.filter-wrapper .filter-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: solid 1px #b9c4df;
}
.filter-wrapper .filter-item {
  display: flex;
  align-items: center;
  align-items: stretch;
  width: 33.33%;
  border: solid 2px #b9c4df;
  border-bottom: none;
  border-right: none;
  color: #000;
}
.filter-wrapper .filter-item.border-right {
  border-right: solid 2px #b9c4df !important;
}
.filter-wrapper .filter-item .label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  width: 92px;
  height: 28px;
  font-size: 12px;
  background-color: #ececec;
  border-right: solid 2px #b9c4df;
}
.filter-wrapper .filter-item .group {
  display: flex;
  align-items: center;
}
.filter-wrapper .filter-item .item {
  flex: 1;
  padding: 3px 2px;
  background-color: #ffffff;
  font-size: 12px;
}
.filter-wrapper .filter-item .item .inp {
  flex: 1;
  width: 100%;
  font-size: 12px;
  height: 19px;
  border: solid 1px #767676;
  border-radius: 2px;
}
.filter-wrapper .filter-item .item .inp:focus {
  border: solid 2px #000;
}
.filter-wrapper .filter-item .item .inp.select:focus {
  border: solid 1px #767676;
}
.filter-wrapper .filter-item .item .btn {
  padding: 0 2px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
  justify-content: center;
  height: 20px;
  background-color: #ededee;
  border-radius: 2px;
  font-size: 12px;
  border: solid 1px #949494;
}
.filter-wrapper .buttons {
  display: flex;
  align-items: center;
  padding: 9px 200px;
  background-color: #ffffff;
  border: solid 3px #b9c4df;
  border-top-width: 2px;
}
.filter-wrapper .buttons .btn {
  margin-right: 19px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-image: linear-gradient(0deg, #c61009 0%, #e7420b 100%), linear-gradient(#000000, #000000);
  background-blend-mode: normal,
      normal;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}
.filter-wrapper .buttons .btn .icon {
  margin-right: 8px;
}
.date-wrapper .date-btn {
  margin: 0 4px;
  cursor: pointer;
  border: none!important;
  background: transparent;
}
.table-wrapper {
  width: 100%;
  overflow: auto;
}
.layui-table td,
.layui-table th {
  font-size: 12px;
}
.nextBtn {
  color: red;
  font-weight: bold;
}
.nextBtn:hover {
  color: red;
}
.layui-table-cell {
  padding: 0 4px;
}
